@font-face {
  font-family: "lato-bold";
  src: url("assets/lato/Lato-Bold.ttf");
}


* {
  margin: 0;
  padding: 0;
}

body {
  width: 1020px;
}

header {
  position: relative;
  height: 95px;
  width: inherit;
  background-color: #2d303a;
}

header .logo {
  display: inline-block;
  font-family: "lato-bold";
  font-size: 24px;
  color: #ffffff;
  padding: 30px 0 0 40px;
}

header .logo span {
  color: #f06c64;
}

header nav {
  font-family: "lato-bold";
  font-size: 12px;
  color: #ffffff;
  width: 370px;
  display: flex;
  justify-content: space-between;
  padding: 42px 41px 0 0;
  float: right;
}

header nav .dot {
  color: #424657;
}
header nav span:nth-child(1) {
  color: #f06c64;
}

header .bottom-line {
  position: absolute;
  height: 7px;
  width: inherit;
  background-color: #424657;
  bottom: 0px;
}

main {
  height: 1100px;
  width: inherit;
}
main .slider {
  position: relative;
  height: 600px;
  width: inherit;
  background-color: #f06c64;
}

main .slider .prev {
  height: 27px;
  width: 16px;
  position: absolute;
  top: 286px;
  left: 40px;
}

main .slider .prev span:nth-child(1) {
  position: absolute;
  height: 2px;
  width: inherit;
  border: 2px solid #ca4549;
  background-color: #ca4549;
  border-radius: 3px;
  transform: rotate(-45deg);
}

main .slider .prev span:nth-child(2) {
  position: absolute;
  height: 2px;
  width: inherit;
  border: 2px solid #ca4549;
  background-color: #ca4549;
  border-radius: 3px;
  transform: rotate(45deg);
  margin-top: 11px;
}

main .slider .next {
  height: 27px;
  width: 16px;
  position: absolute;
  top: 286px;
  right: 42px;
}

main .slider .next span:nth-child(1) {
  position: absolute;
  height: 2px;
  width: inherit;
  border: 2px solid #ca4549;
  background-color: #ca4549;
  border-radius: 3px;
  transform: rotate(45deg);
}

main .slider .next span:nth-child(2) {
  position: absolute;
  height: 2px;
  width: inherit;
  border: 2px solid #ca4549;
  background-color: #ca4549;
  border-radius: 3px;
  transform: rotate(-45deg);
  margin-top: 11px;
}

main .slider .phones .vertical {
  position: absolute;
  top: 53px;
  left: 112px;
}

main .slider .phones .horizontal {
  position: absolute;
  top: 174px;
  right: 111px;

}

main .bottom-line {
  position: absolute;
  height: 7px;
  width: inherit;
  background-color: #ea676b;
  bottom: 0px;
}

