@font-face {
  font-family: "lato-bold";
  src: url("assets/lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "lato-black";
  src: url("assets/lato/Lato-Black.ttf");
}
@font-face {
  font-family: "lato-light";
  src: url("assets/lato/Lato-Light.ttf");
}
@font-face {
  font-family: "lato-regular";
  src: url("assets/lato/Lato-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1020px;
}

.wrapper {
  position: relative;
  max-width: 1020px;
  padding: 0 0px;
  margin: 0 auto;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

main .getQuote .contain {
  padding: 59px 0 0 40px;
}

main .getQuote {
  height: 648px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

main .getQuote .header h2 {
  font-family: "lato-black";
  font-size: 30px;
  letter-spacing: -0.3px;
  color: #f0d8d9;
}

main .getQuote .header p {
  font-family: "lato-light";
  font-size: 18px;
  word-spacing: -0.3px;
  line-height: 30px;
  color: #f0d8d9;
  margin-top: 18px;
}

main .getQuote .formSubmit {
  margin-top: 44px;
  max-width: 940px;
}

main .getQuote .formSubmit .form {
  display: flex;
  flex-direction: column;
  width: 619px;
}

main .getQuote .formSubmit .input-text {
  height: 38px;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 16px;
  padding-left: 15px;
  font-size: 12px;
  border-radius: 4px;
  word-spacing: -1.6px;
  line-height: 12px;
  color: #f0d8d9;
  background-color: #d6564f;
  transition: background-color .27s ease-out, box-shadow .27s ease-out;
  box-sizing: border-box;
  border: none;
  outline: none;
}

main .getQuote .formSubmit .input-text:hover, .input-text:focus {
  background-color: #bd4c46;
  box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.39);
}

main .getQuote .formSubmit .input-text:focus {
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.29);
}

main .getQuote .formSubmit .textarea {
  min-height: 202px;
  padding-top: 12px;

}

main .getQuote .formSubmit .input-text::placeholder {
  color: #f48c8f;
}

main .getQuote .formSubmit .contact-information{
  width: 300px;
  color: #f0d8d9;
}

main .getQuote .formSubmit .contact-information .contact {
  font-family: "lato-regular";
  padding-left: 23px;
  display: block;
  position: relative;
  color: #f0d8d9;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.16px;
  text-decoration: none;
}

main .getQuote .formSubmit .contact-information .contact::before {
  content: "";
  height: 12px;
  width: 13px;
  display: block;
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
}

main .getQuote .formSubmit .contact-information .header {
  font-family: "lato-black";
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  margin-bottom: 10px;
}

main .getQuote .formSubmit .contact-information .description {
  font-family: "lato-regular";
  text-align: justify;
  word-spacing: -1.3px;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 25px;
}

main .getQuote .formSubmit .contact-information .location {
  padding-bottom: 9px;
}
main .getQuote .formSubmit .contact-information .location::before {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 12px;
  left: 0;
  background-repeat: no-repeat;
}

main .getQuote .formSubmit .contact-information .location::before {
  background-image: url("assets/getQuote/ico-contact-location.svg");
  background-size: 7px;
  background-position: 3px;
}

main .getQuote .formSubmit .contact-information .tel{
  padding-bottom: 11px;
}
main .getQuote .formSubmit .contact-information .tel::before {
  background-image: url("assets/getQuote/ico-contact-tel.svg");
  background-size: 11px;
  background-position: 1px;
}

main .getQuote .formSubmit .contact-information .email::before {
  background-image: url("assets/getQuote/ico-contact-email.svg");
  background-size: 13px;
  background-position: 1px;
}

.form__submit {
  height: 38px;
  width: 100px;
  border: none;
  background-color: #d6564f;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  color: #f0d8d9;
  transition: background-color .27s ease-out,
  background-color .27s ease-out;
  font-weight: bold;
  outline: none;
}

.form__submit:hover {
  background-color: #bd4c46;
  box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.29);
}


footer .footer {
  background-color: #2d303a;
  height: 76px;
}

footer .footer .contain{
  max-width: 940px;
  padding: 22px 0 0 40px;
  align-items: center;
  height: 100%;
}

footer .footer .copyright {
  font-family: "lato-regular";
  word-spacing: -0.4px;
  color: #666d89;
  font-size: 12px;
}

footer .footer .social {
  margin-left: 10px;
  padding-left: 1px;
  display: grid;
  grid-template-columns: repeat(4, 32px);
  grid-template-rows: 32px;
  grid-gap: 8px;
  list-style: none;
}

footer .social li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #767e9e;
  border-radius: 50%;
  transition: 0.2s;
  fill: #767e9e;
}

footer .social li a:hover {
  background-color: #2d303a;
  transition: 0.2s;
}

footer .social li a:hover svg {
  fill: white;
  transition: 0.2s;
}