@font-face {
  font-family: "lato-bold";
  src: url("assets/lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "lato-black";
  src: url("assets/lato/Lato-Black.ttf");
}
@font-face {
  font-family: "lato-light";
  src: url("assets/lato/Lato-Light.ttf");
}
@font-face {
  font-family: "lato-regular";
  src: url("assets/lato/Lato-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
   min-width: 1020px;
}

.wrapper {
  position: relative;
  max-width: 1020px;
  padding: 0 0px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 89px;
  width: inherit;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

header .logo {
  display: inline-block;
  font-family: "lato-bold";
  font-size: 24px;
  color: #ffffff;
  padding: 30px 0 0 40px;
}

header .logo span {
  color: #f06c64;
}

header nav {
  font-family: "lato-bold";
  font-size: 12px;
  float: right;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 42px 41px 0 0;
  width: 370px;
}

header nav ul .el{
  position: relative;
  transition: 0.2s;
}

header nav ul .el:not(:last-child)::after {
  content: "\00B7";
  display: block;
  position: absolute;
  right: -16px;
  top: 0px;
  color: #494e62;
}

header nav ul .el a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  height: 100%;
  color: #ffffff;
}

header nav ul .el:first-child a {
  color: #ea676b;
}

header nav .el a:hover{
  cursor: pointer;
  opacity: 0.4;
  transition: 0.2s;
}

header nav .dot {
  color: #424657;
}
header nav span:nth-child(1) {
  color: #f06c64;
}

header .bottom-line {
  position: absolute;
  height: 7px;
  width: 100%;
  background-color: #424657;
  bottom: 0px;
}

main {
  height: 1100px;
  width: inherit;
}
main .slider {
  box-sizing: border-box;
  position: relative;
  height: 600px;
  width: inherit;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

main .slider .prev {
  height: 27px;
  width: 16px;
  position: absolute;
  top: 286px;
  left: 40px;
  transition: 0.2s;
}

main .slider .prev span:nth-child(1) {
  position: absolute;
  height: 2px;
  width: inherit;
  border: 2px solid #ca4549;
  background-color: #ca4549;
  border-radius: 3px;
  transform: rotate(-45deg);
}

main .slider .prev span:nth-child(2) {
  position: absolute;
  height: 2px;
  width: inherit;
  border: 2px solid #ca4549;
  background-color: #ca4549;
  border-radius: 3px;
  transform: rotate(45deg);
  margin-top: 11px;
}

main .slider .prev:hover{
  cursor: pointer;
  opacity: 0.4;
  transition: 0.2s;
}

main .slider .next {
  height: 27px;
  width: 16px;
  position: absolute;
  top: 286px;
  right: 42px;
  transition: 0.2s;
}

main .slider .next span:nth-child(1) {
  position: absolute;
  height: 2px;
  width: inherit;
  border: 2px solid #ca4549;
  background-color: #ca4549;
  border-radius: 3px;
  transform: rotate(45deg);
}

main .slider .next span:nth-child(2) {
  position: absolute;
  height: 2px;
  width: inherit;
  border: 2px solid #ca4549;
  background-color: #ca4549;
  border-radius: 3px;
  transform: rotate(-45deg);
  margin-top: 11px;
}

main .slider .next:hover{
  cursor: pointer;
  opacity: 0.4;
  transition: 0.2s;
}

main .slider .phones .vertical {
  position: absolute;
  top: 53px;
  left: 112px;
}

main .slider .phones .horizontal {
  position: absolute;
  top: 174px;
  right: 111px;

}

main .slider .bottom-line {
  position: absolute;
  height: 7px;
  width: inherit;
  background-color: #ea676b;
  bottom: 0px;
}

main .services {
  position: relative;
  height: 494px;
  width: inherit;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;

}

main .services h1 {
  padding: 59px 0 0 40px;
  font-family: "lato-black";
  color: #666d89;
  font-size: 30px;
}

main .services p {
  padding: 20px 0 0 40px;
  font-family: "lato-light";
  color: #666d89;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.04px;
}

main .services .advantages {
  padding: 25px 0 0 30px;
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 125px 125px;
  grid-template-areas:
      "a c e"
      "b d f";
}

main .services .advantages .item-1 {
  grid-area: a;
}

main .services .advantages .item-1 picture {
  position: absolute;
  top: 219px;
  left: 40px;
}

main .services .advantages .item-1 h3 {
  position: absolute;
  font-family: "lato-black";
  color: #767e9e;
  top: 216px;
  left: 118px;
}

main .services .advantages .item-1 p {
  position: absolute;
  font-family: "lato-regular";
  font-size: 12px;
  top: 226px;
  left: 80px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #666d89;
}

main .services .advantages .item-2 {
  grid-area: b;
}

main .services .advantages .item-2 picture {
  position: absolute;
  top: 342px;
  left: 40px;
}

main .services .advantages .item-2 h3 {
  position: absolute;
  font-family: "lato-black";
  color: #767e9e;
  top: 339px;
  left: 118px;
}

main .services .advantages .item-2 p {
  position: absolute;
  font-family: "lato-regular";
  font-size: 12px;
  top: 349px;
  left: 80px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #666d89;
}

main .services .advantages .item-3 {
  grid-area: c;
}

main .services .advantages .item-3 picture {
  position: absolute;
  top: 219px;
  left: 359px;
}

main .services .advantages .item-3 h3 {
  position: absolute;
  font-family: "lato-black";
  color: #767e9e;
  top: 216px;
  left: 438px;
}

main .services .advantages .item-3 p {
  position: absolute;
  font-family: "lato-regular";
  font-size: 12px;
  top: 226px;
  left: 400px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #666d89;
}

main .services .advantages .item-4 {
  grid-area: d;
}

main .services .advantages .item-4 picture {
  position: absolute;
  top: 342px;
  left: 359px;
}

main .services .advantages .item-4 h3 {
  position: absolute;
  font-family: "lato-black";
  color: #767e9e;
  top: 339px;
  left: 438px;
}

main .services .advantages .item-4 p {
  position: absolute;
  font-family: "lato-regular";
  font-size: 12px;
  top: 349px;
  left: 400px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #666d89;
}

main .services .advantages .item-5 {
  grid-area: e;
}

main .services .advantages .item-5 picture {
  position: absolute;
  top: 219px;
  left: 679px;
}

main .services .advantages .item-5 h3 {
  position: absolute;
  font-family: "lato-black";
  color: #767e9e;
  top: 216px;
  left: 760px;
}

main .services .advantages .item-5 p {
  position: absolute;
  font-family: "lato-regular";
  font-size: 12px;
  top: 226px;
  left: 720px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #666d89;
}

main .services .advantages .item-6 {
  grid-area: e;
}

main .services .advantages .item-6 picture {
  position: absolute;
  top: 342px;
  left: 679px;
}

main .services .advantages .item-6 h3 {
  position: absolute;
  font-family: "lato-black";
  color: #767e9e;
  top: 339px;
  left: 760px;
}

main .services .advantages .item-6 p {
  position: absolute;
  font-family: "lato-regular";
  font-size: 12px;
  top: 349px;
  left: 720px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #666d89;
}

main .services .bottom-line {
  position: absolute;
  height: 7px;
  width: inherit;
  background-color: #ffffff;
  bottom: 0px;
}